# .github/workflows/deploy-main.yml
name: Deploy KinkLink to Firebase Hosting on Main

on:
  push:
    branches:
      - main # Mude para 'master' ou o nome do seu branch principal, se for diferente

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20' # Atualizado para uma versão compatível com o Firebase CLI

      - name: Install Dependencies
        run: npm install
        working-directory: ./KinkLink

      - name: Build React App
        run: npm run build
        working-directory: ./KinkLink

      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}' # Opcional, mas recomendado
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_KINKLINK }}' # O NOME DO SEGREDO QUE VOCÊ CRIOU NO GITHUB
          projectId: 'kinklink-a4607' # O ID do seu projeto Firebase
          channelId: live # Faz o deploy para o canal de produção 'live'
          target: kinklink-app # Adicionado para especificar o target de hosting
          # O diretório a ser implantado é definido no seu firebase.json (hosting.public) que deve ser "KinkLink/dist"
